.masterForm {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.grid {
  display: grid;
  grid-template-columns: 1fr; /* Mobile-First */
  gap: 0 var(--spacing-md);
}

/* Novo separador */
.divider {
  border: none;
  border-top: 1px solid var(--background-medium);
  margin: var(--spacing-md) 0;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr; /* 2 colunas em telas maiores */
  }
}